services:
  - type: web
    name: mindcare-backend
    env: python
    region: singapore
    plan: free
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
      python manage.py migrate
      python manage.py collectstatic --noinput
    startCommand: gunicorn hospital.wsgi:application
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: false
      - key: ALLOWED_HOSTS
        value: ".onrender.com"
      - key: DISABLE_COLLECTSTATIC
        value: 1
      - key: CORS_ALLOWED_ORIGINS
        value: "https://mindcarehealthbooking.netlify.app,http://localhost:3000"